@model web.Models.Plant

@{
    ViewData["Title"] = "Delete";
}

<br>
<h3>Are you sure you want to delete this plant?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Category.PlantCategory)
        </dd class>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Location.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlantID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
